$custom-primary: #45B8D7 !default;
$custom-secondary: #E2E2E2!default;
$custom-dark: #252F30 !default;
$custom-info: #45B8D733 !default;
$custom-warning: #ECA127 !default;
$custom-danger: #ff3c73 !default;
$custom-background-color: #45B8D710 !default;
$custom-menu-nav-background: #45B8D720 !default;
$custom-chip-background-color: #45B8D780 !default;