<div class="px-4 pt-4">
    <h3>設定</h3>
</div>
<div class="text-center p-4">
    <app-settings-profile [user]="user"></app-settings-profile>
</div>
<mat-divider></mat-divider>
<div class="user-profile-bottom">
    <mat-accordion multi="true" displayMode="flat">
        <mat-expansion-panel class="custom-accordion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    使用者資訊
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-settings-user [user]="user"></app-settings-user>
        </mat-expansion-panel>
    </mat-accordion>

</div>