.profile-user{
  position: relative;
  display: inline-block;
  .profile-photo-edit{
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
  }
  .edit-wrapper{
    height: 2.2rem;
    width: 2.2rem;
    .edit-icon{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: 500;
      border: 1px solid grey;
    }
  }
}